.issue_item{
    display: flex;
    height: 55px;
    padding: 10px 20px 0 20px;
    box-sizing: border-box;
}

.issue_item_col1{
    line-height: 22px;
}

.issue_item_col2{
    flex-grow: 1;
}

.issue_item_row1{
    display: flex;
    align-items: center;
}

.issue_item_row2{
    line-height: 22px;
}

.octicon{
    fill:     #586069;
    display: inline-block;
}

.open.octicon{
    fill: #28a745;
    margin: 4px 10px 0 0;
    display: inline-block;
}

.issue_item_title_container{
    flex-grow: 1;    
}

.issue_item_title{
    font-size: 16px;
    font-weight: 600;
    color: #24292e;
    text-decoration: none;
}

.issue_item_title:hover{
    color: #0366d6;
}