.issues_list{
	width: 980px;
	display: block;
    margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	border: 1px solid #e1e4e8;
}

.issues_list_item{
	border-bottom: 1px solid #e1e4e8;
}

.issues_list_item:hover{
	background-color: #f6f8fa;
}

.issues_list .issues_list_item:last-child{
	border-bottom: none;
}