.paging{
	display: flex;
	box-sizing: border-box;
	border: 1px solid #e1e4e8;
}

.paging_item{
	border-right: 1px solid #e1e4e8;
}

.paging_item:not(.disabled):not(.selected):hover{
	background-color: #eff3f6;
}

.paging .paging_item:last-child{
	border-right: none;
}