.new_issue_title, .new_issue_body{
	background-color: #fafbfc;
	font-family: inherit;
	color: #24292e;
	font-size: 16px;
	font-weight: 400;
	padding: 4px 10px;
	display: block;
	width: 678px;
	min-height: 34px;
	background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
	box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
	overflow: visible;
	margin: 0;
}

.new_issue_title:focus, .new_issue_body:focus{
	border-color: #2188ff;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075), 0 0 0 0.2em rgba(3,102,214,0.3);
}

.new_issue_body{
	margin-top: 20px;
	max-width: 678px;
	min-width: 678px;
	height: 200px;
	max-height: 500px;
}